<IfModule mod_rewrite.c>
   RewriteEngine On

   # Accept Authorization Header
   RewriteCond %{HTTP:Authorization} ^(.+)$
   RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

   # Check if requested file exists in /public/ directory and serve it
   RewriteCond %{DOCUMENT_ROOT}/public/$1 -f
   RewriteRule ^(.*)$ public/$1 [L]

   # Send all other requests (including directories, non-existent files) to bootstrap
   RewriteRule ^(.*)$ src/index.php?uri=$1 [QSA,L]
</IfModule>